<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Listado de Consultorios</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>

<body class="container py-5">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
            <h2>Consultorios</h2>
            <div>
                <a href="/" class="btn btn-light btn-sm me-2">🏠 Menú Principal</a>
                <a th:href="@{/consultorios/nuevo}" class="btn btn-light btn-sm">+ Nuevo Consultorio</a>

            </div>
        </div>
        <table class="table table-bordered table-hover">
            <thead class="table-light">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="c : ${lista}">
                    <td th:text="${c.idConsultorio}"></td>
                    <td th:text="${c.nombreConsultorio}">Consultorio A</td>
                    <td>
                        <a th:href="@{/consultorios/editar/{id}(id=${c.idConsultorio})}"
                            class="btn btn-warning btn-sm">Editar</a>
                        <a th:href="@{/consultorios/eliminar/{id}(id=${c.idConsultorio})}" class="btn btn-danger btn-sm"
                            onclick="return confirm('¿Estás seguro de eliminar este consultorio?')">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>